:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #e5e5e5;
  --background-context-color: #f5f4fa;
  --rare-text-color: #ffffff;
  --time-deploy: cubic-bezier(0.4, 0, 0.2, 1);
}
/* Анимация с тенью при ховере
@keyframes bouncing {
  0% {
    bottom: 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  }
  100% {
    bottom: 1px;
    box-shadow: 0 25px 25px #2196f3;
  }
}
.logo.logo-animation:hover {
  border-radius: 4px;
  padding: 0px;
  animation: bouncing 0.5s cubic-bezier(0.1, 0.25, 0.1, 1) 0s alternate both;
} */
/* Анимация с исчезновением при ховере и фокусе */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.logo.logo-animation:hover,
.logo.logo-animation:focus,
.logo-bottom.logo-animation:hover,
.logo-bottom.logo-animation:focus {
  animation: fadeOut 1s both;
}
/* Задали глобальное нормальное наследование */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
/* Убрали подчеркивания со всех ссылок, иметь в виду, если нужна ссылка с подчеркиванием. Так же с анимацией.  */
a {
  text-decoration: none;
}

/* Убрали точки со списков */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Задали глобальные свойства */
body {
  font-family: Roboto, sans-serif;
  background-color: var(--rare-text-color);
  color: var(--primary-text-color);
}
/* Задали картинкам общие свойства - свойство блок и максимальную ширину */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Скрыли ненужные семантические заголовки */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
/* Добавили кнопке наследие */
button {
  font-family: inherit;
}
/* Задали общий вспомогательный класс "контейнер" для центрирования и ограничения контента по ширине */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/* Добавили нужный паддинг */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* Задали рамку в Хедер */
.header {
  border-bottom: 1px solid #ececec;
}
/* Оформили логотип в Хедер*/
.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
}
/* Задали общего родителя для позиционирования Хедера */
.nav {
  display: flex;
  align-items: center;
}
.top-nav {
  display: flex;
  align-items: center;
}
/* Добавили вертикальную геометрию ссылке, добавили ей дисплей-блок, чтоб убрать зазор */
.site-nav {
  display: block;
}
/* Задали флекс для навигации. Секция меню */
.site-nav {
  display: flex;
}
/* Задали отступы на ли */
.site-nav .item + .item {
  margin-left: 50px;
}
/* Можно сделать еще так .site-nav .item:not(:last-child) {
  margin-right: 50px;
} */
.right-nav {
  display: block;
}
/* Задали флекс для навигации. Имейл и телефон. */
.right-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.right-nav .item + .item {
  margin-left: 30px;
}
/* Добавили стили навигации в Хеадер*/
.contact-link {
  display: block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms var(--time-deploy);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
.adress-icon {
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms var(--time-deploy);
}
.adress-icon:hover,
.adress-icon:focus {
  fill: currentColor;
}
/* Добавили стили контактов в Хеадер */
.adress-link {
  display: flex;
  align-items: center;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color 250ms var(--time-deploy);
}
.adress-link:hover,
.adress-link:focus {
  color: var(--accent-color);
}
/* Оформили все нужные элементы синим цветом */
.color-logo {
  color: var(--accent-color);
}
.contact-link.current {
  color: var(--accent-color);
  position: relative;
}
.contact-link.current::after {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
/* Оформили главный заголовок */
.main {
  display: block;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/img16.jpg');
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.main-section {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--rare-text-color);
  max-width: 696px;
  margin: 0 auto 30px;
}
/* Секция услуг */
/* Оформили заголовки услуг */
.title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

/* Оформили текст услуг */
.text-description {
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* Оформили остальные заголовки */
.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}
/* Оформили положение секции услуг */
.service {
  display: flex;
}
.service-item {
  box-sizing: border-box;
}
.service .service-item {
  width: calc((100% - 3 * 30px) / 4);
  margin-right: 30px;
}
.service .service-item:nth-child(4n) {
  margin-right: 0;
}
/* Добавили иконки в секцию услуг */
.servise-icon {
  box-sizing: border-box;
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
/* Секция Студия */
/* Убрали ненужный паддинг в секции Студия */
.section.features-section {
  padding-top: 0;
}
/* Оформили положение секции Студия */
.studio {
  display: flex;
  margin-top: 50px;
}
.studio-item {
  position: relative;
  margin-right: 30px;
}
.studio-item:nth-child(3n) {
  margin-right: 0;
}
/* Оформили надписи поверх картинки */
.desc {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  bottom: 0;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  color: var(--rare-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/* Секция Команда */
/* Оформили стили имен и профессий в секции Команда*/
.command {
  background-color: #f5f4fa;
}
.command-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: -30px;
  transition: box-shadow 250ms var(--time-deploy);
}
.command-list > .card-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  background-color: var(--rare-text-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.command-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 16px 0 0;
  margin: 0;
  list-style: none;
  align-items: center;
}
.command-link-item:not(:last-child) {
  margin-right: 10px;
}
.command-link-item {
  width: 44px;
  height: 44px;
}
.command-link-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--rare-text-color);
  transition: background-color 250ms var(--time-deploy);
}
.command-link-link:hover,
.command-link-link:focus {
  background-color: var(--accent-color);
}
.command-link-link:hover .command-icon,
.command-link-link:focus .command-icon {
  fill: var(--rare-text-color);
}
.command-icon {
  fill: #afb1b8;
  transition: fill 250ms var(--time-deploy);
}
/* Оформили имена и профессии */
.names {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.profession {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* Оформили секцию Постоянные клиенты */
.client-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}
/* Задали маржины списку */
.client-list > .client-item {
  flex-basis: calc(100% / 6 - 30px);
  margin-left: 30px;
}
/* Описали свойства контейнера с свг и ссылкой */
.client-item {
  height: 92px;
  width: 170px;
}
.client-link {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: border-color 250ms var(--time-deploy);
}
/* Задали общие размеры и цвет при ховере и фокусе */
.client-icon {
  fill: currentColor;
  color: #afb1b8;
  transition: fill 250ms var(--time-deploy);
}
.client-link:hover,
.client-link:focus {
  border: 1px solid var(--accent-color);
}
.client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: var(--accent-color);
}

/* Оформили секцию в Портфолио*/
.title-adverb {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.text {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: -30px;
  margin-top: -30px;
}
.portfolio-items > .portfolio-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.text-item {
  padding: 30px 0;
}
.portfolio-card {
  padding: 20px 24px;
  border: 1px solid #ececec;
  border-top: 0;
}
/* Оформили текст на синем оверлее (выплывающем окошке) в Портфолио */
.text-hidden {
  position: absolute;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  top: 0;
  left: 0;
  padding: 63px 24px;
  width: 100%;
  color: #ffffff;
  background-color: rgba(33, 149, 243, 0.9);
  border-bottom: 0;
  margin: 0;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms var(--time-deploy);
}
/* Задали relative на див для позиционирования оверлея */
.card-thumb {
  position: relative;
  overflow: hidden;
}
/* Добавили стили ссылок в Футер */
.link-bottom {
  display: inline-block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-nav .item + .item {
  margin-top: 9px;
}
.adr {
  color: var(--rare-text-color);
}
/* Оформили заглавные буквы согласно макету */
.title.upper {
  text-transform: uppercase;
}
/* Оформили второй блок футера. Это заголовок большими буквами */
.footer-title.upper {
  text-transform: uppercase;
  color: var(--rare-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--rare-text-color);
  margin-bottom: 20px;
}
.subscription-mail.upper {
  text-transform: uppercase;
  color: var(--rare-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--rare-text-color);
  margin-bottom: 20px;
}
/* Оформили стили списка кнопок в Портфолио*/
.style-scope-button {
  font-weight: 500;
  font-size: 16px;
  padding: 6px 22px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--background-context-color);
  border-color: transparent;
  cursor: pointer;
  transition: color 250ms var(--time-deploy), background-color 250ms var(--time-deploy),
    box-shadow 250ms var(--time-deploy);
}
.style-scope-button:hover,
.style-scope-button:focus {
  color: var(--rare-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Спозиционировали список кнопок в Портфолио */
.portfolio-buttons {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-buttons .item + .item {
  margin-left: 8px;
}
/* Оформили стиль кнопки в Студия */
.button-primary {
  display: block;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--rare-text-color);
  background-color: var(--accent-color);
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: color 250ms var(--time-deploy), background-color 250ms var(--time-deploy);
}
/* Оформили ховер и фокус кнопке в Студия */
.button-primary:hover,
.button-primary:focus {
  background-color: #188ce8;
}
/* Оформили стиль кнопке подписки в Футере */
.subscribe-button {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: left;
  padding: 10px 29px;
  align-items: center;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--rare-text-color);
  background-color: var(--accent-color);
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: color 250ms var(--time-deploy), background-color 250ms var(--time-deploy);
}
.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #188ce8;
}
/*  Оформили стиль кнопки в модальном окне */
.send-button {
  display: block;
  padding: 10px 56px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--rare-text-color);
  background-color: var(--accent-color);
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: color 250ms var(--time-deploy), background-color 250ms var(--time-deploy);
}
.send-button:hover,
.send-button:focus {
  background-color: #188ce8;
}
/* Задали ховер и фокус карточкам в Портфолио*/
.portfolio-link {
  display: block;
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* Сделали выплывающие синие окошки в Портфолио*/
.portfolio-link:hover .text-hidden,
.portfolio-link:focus .text-hidden {
  transform: translateY(0%);
}
/* Оформили логотип в Футер */
.logo-bottom {
  display: block;
  margin-bottom: 20px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1.2;
  color: var(--rare-text-color);
}
/* Задали цвет и ширину в футер */
.footer {
  background-color: #2f303a;
  padding: 60px 0;
}
/* Задали футеру флекс для позиционирования элементов*/
.footer-position {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.footer-list {
  display: flex;
  justify-content: center;
}
.footer-link-item {
  width: 44px;
  height: 44px;
}
.footer-link-item:not(:last-child) {
  margin-right: 10px;
}
/* Оформили иконки футера */
.footer-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--rare-text-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--time-deploy);
}
.footer-link:hover,
.footer-link:focus {
  background-color: var(--accent-color);
}
.footer-icon {
  fill: currentColor;
}
.icon-send {
  fill: var(--rare-text-color);
  margin-left: 10px;
}
.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: var(--accent-color);
}
.modal-close-icon {
  transition: fill 250ms var(--time-deploy);
}
/* Оформили форму подписки */
.subscription-form {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 570px;
}
/* оформили форму с имейлом */
.mail-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  padding-left: 12px;
  margin-right: 12px;
}
.mail-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/* Оформили бекдроп. Позиция фиксед, чтоб не проскролливался */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--time-deploy), visibility 250ms var(--time-deploy);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: var(--rare-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
.modal-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  padding: 0;
  background-color: unset;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.form-text {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}
.data-form-field {
  margin-bottom: 10px;
}
.data-form-field.text-input {
  margin-bottom: 20px;
}
/* Задали спан (общего родителя) для позиционирования иконки */
.input-wrap {
  display: block;
  position: relative;
}
.data-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms var(--time-deploy);
}
.data-form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}
.data-form-input:focus + .data-icon {
  fill: var(--accent-color);
}
.modal-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms var(--time-deploy);
}
.modal-comment:focus {
  border-color: var(--accent-color);
  outline: none;
}
.modal-comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.data-form-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}
.data-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms var(--time-deploy);
}
.check-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  cursor: pointer;
  border-radius: 2px;
  border: 2px solid rgba(33, 33, 33, 0.2);
  margin-right: 7px;
  fill: var(--rare-text-color);
  transition: border-color 250ms var(--time-deploy), background-color 250ms var(--time-deploy);
}

.checkbox:checked + .check-label > .check-icon {
  background-color: var(--accent-color);
  border: none;
}
.checkbox:focus + .check-label > .check-icon {
  border-color: var(--accent-color);
}
.check-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
}
.agreement-link {
  text-decoration: underline;
  color: var(--accent-color);
  margin-left: 5px;
}
/* .flex-element:nth-child(3n) {
  margin-right: 0;
} 
.flex-element:not(:nth-child(-n+3)) {
margin-bottom: 0px; 
} */
/* Альтернатива 
.flex-element:not(:nth-child(3n)) {
margin-right: 30px; 
}
и
.flex-element:not(:nth-child(-n+3)) {
margin-bottom: 30px; 
}
*/
