.main {
  display: block;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/img16.jpg');
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.main-section {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--rare-text-color);
  max-width: 696px;
  margin: 0 auto 30px;
}
