@mixin logo() {
  display: block;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1.2;
}

.logo {
  @include logo();
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  color: #000000;
}
.logo-bottom {
  @include logo();
  margin-bottom: 20px;
  color: var(--rare-text-color);
}
.color-logo {
  color: var(--accent-color);
}
